:root {
  /*----------- color series -----------------*/
  --primary: #000;
  --secondary: "";
  /*----------- color series -----------------*/

  /*------------ black color series --------------*/
  --black: #000;
  /*------------ black color series --------------*/

  /*------------ white color series --------------*/
  --white: #fff;
  /*------------ white color series --------------*/
}
