:root{
    /*------------- font sizes ---------------------*/
 --font-12:0.75rem;
 --font-14:0.875rem;
 --font-16:1rem;
 --font-18:1.125rem;
 --font-20:1.25rem; 
 --font-22:1.375rem;
 --font-24:1.5rem;
 --font-30:1.875rem;
 --font-36:2.25rem;
 --font-48:3rem;
 --font-60: 3.75rem;
 --font-72:4.5rem;
 /*------------- font sizes ---------------------*/

 /*-------------- letter spacing -----------------*/
 --letter-space-xs:-0.05em;
 --letter-space-sm:-0.025em;
 --letter-space-normal:0em;
 --letter-space-wide:0.025em;
 --letter-space-wider:0.05em;
 --letter-space-widest:0.1em;
 /*-------------- letter spacing -----------------*/

 /*-------------- line heights --------------*/
 --lh-12: 0.75rem;
 --lh-14:0.875rem;
 --lh-16:1rem;
 --lh-18:1.125rem;
 --lh-20:1.25rem;
 --lh-22:1.375rem;
 --lh-24:1.5rem;
 --lh-26:1.625rem;
 --lh-28:1.75rem;
 --lh-30:1.875rem;
 --lh-32: 2rem;
 --lh-34:2.125rem;
 --lh-36:2.25rem;
 --lh-38:2.375rem;
 --lh-40:2.5rem;
 --lh-1:1;
 --lh-tight:1.25;
 --lh-snug:1.375;
 --lh-normal:1.5;
 --lh-relaxed:1.625;
 --lh-loose:2
 /*-------------- line heights --------------*/

 /*------------- font weights ---------------*/
   --font-weight-100:100;
   --font-weight-200:200;
   --font-weight-300:300;
   --font-weight-400:400;
   --font-weight-500:500;
   --font-weight-600:600;
   --font-weight-700:700;
   --font-weight-800:800;
   --font-weight-900:900;
/*------------- font weights ---------------*/
}